header(role="banner")
	.content
		nav.container
			ul
				li: a(href="#") Home
				li: a(href="#") Invoicing
				li: a(href="#") Documents
	.container
		#header-handle.handle
			.bars
				.bar
				.bar
				.bar